@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --black: #000;
  --white: #f5f5f5;
  --whatsapp-color: #25D366;
  --linkedin-color: #0077B5;
  --github-color: #ffffff80; /* Por o preto tema do github não dará contraste com o fundo */
  --gmail-color: #DB4437;
  --beecrowd-color: #FFCA30;
  --curriculum-color: magenta;
  --certifications-color: teal;
  --apparition-time: 1s;
  --sharpness-time: 2s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: teal;
  color: var(--white);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

#container,
footer {
  margin: 0 auto;
  max-width: 480px;
  min-width: 320px;
}

#container {
  background-color: var(--black);
  overflow-x: hidden;
}

#toggle-theme {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin: 2% 0 0 2%;
  height: 3em;
  width: 3em;
}

#toggle-theme:hover {
  cursor: pointer;
}

#theme-icon {
  color: var(--white);
  font-size: 1.5rem;
}

#me {
  border-radius: 50%;
  display: block;
  margin: 7% auto;
  width: 70%;
  animation: sharpness 2s linear 1;
  -webkit-animation: sharpness 2s linear 1;
  -moz-animation: sharpness 2s linear 1;
  -o-animation: sharpness 2s linear 1;
}

#name {
  text-transform: uppercase;
}

#name,
#job-position {
  font-size: 1.3rem;
  text-align: center;
}

#name {
  font-weight: 600;
}

#job-position {
  margin-top: 3%;
}

#links {
  margin: 7% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

#links a {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  font-weight: 600;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 95%;
  transform: translate(105%);
  animation: apparition var(--apparition-time) ease-in-out forwards;
  -webkit-animation: apparition var(--apparition-time) ease-in-out forwards;
  -moz-animation: apparition var(--apparition-time) ease-in-out forwards;
  -o-animation: apparition var(--apparition-time) ease-in-out forwards;
}

#links a:first-child {
  border-color: var(--whatsapp-color);
  color: var(--whatsapp-color);
  animation-delay: var(--sharpness-time);
  -webkit-animation-delay: var(--sharpness-time);
  -moz-animation-delay: var(--sharpness-time);
  -o-animation-delay: var(--sharpness-time);
}

#links a:nth-child(2) {
  border-color: var(--linkedin-color);
  color: var(--linkedin-color);
  animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 1));
  -webkit-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 1));
  -moz-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 1));
  -o-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 1));
}

#links a:nth-child(3) {
  border-color: var(--github-color);
  color: var(--github-color);
  animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 2));
  -webkit-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 2));
  -moz-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 2));
  -o-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 2));
}

#links a:nth-child(4) {
  border-color: var(--gmail-color);
  color: var(--gmail-color);
  animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 3));
  -webkit-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 3));
  -moz-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 3));
  -o-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 3));
}

#links a:nth-child(5) {
  border-color: var(--beecrowd-color);
  color: var(--beecrowd-color);
  animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 4));
  -webkit-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 4));
  -moz-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 4));
  -o-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 4));
}

#links a:nth-child(6) {
  border-color: var(--curriculum-color);
  color: var(--curriculum-color);
  animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 5));
  -webkit-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 5));
  -moz-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 5));
  -o-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 5));
}

#links a:last-child {
  border-color: var(--certifications-color);
  color: var(--certifications-color);
  animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 6));
  -webkit-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 6));
  -moz-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 6));
  -o-animation-delay: calc(var(--sharpness-time) + (var(--apparition-time) * 6));
}

#links a:hover * {
  animation: flip 1.5s linear .4s;
  -webkit-animation: flip 1.5s linear .4s;
  -moz-animation: flip 1.5s linear .4s;
  -o-animation: flip 1.5s linear .4s;
}

footer {
  padding: .5em;
  text-align: center;
  background-color: #000;
}

.bi-heart-fill {
  color: #DB4437;
  font-size: 1rem;
}

.bi-c-circle {
  font-size: 1rem;
}

@keyframes flip {
  from {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

@keyframes sharpness {
  0% {
    filter: blur(100px);
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
  }
  25% {
    filter: blur(75px);
    -webkit-filter: blur(75px);
    -moz-filter: blur(75px);
    -o-filter: blur(75px);
  }
  50% {
    filter: blur(50px);
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
  }
  75% {
    filter: blur(25px);
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
  }
  100% {
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
  }
}

@keyframes apparition {
  from {
    transform: translateX(initial);
    -webkit-transform: translateX(initial);
    -moz-transform: translateX(initial);
    -o-transform: translateX(initial);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Modo claro */

body.light #container,
body.light footer {
  background-color: var(--white);
  color: var(--black);
}

body.light #theme-icon {
  color: var(--black);
}

body.light #links a:nth-child(3) {
  border-color: var(--black);
  color: var(--black);
}