@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --black: #000;
  --blue: #66f;
  --white: #d5d5d5;
  --whatsapp-color: #25D366;
  --linkedin-color: #0077B5;
  --github-color: rgba(255, 255, 255, .5); /* Por o preto tema do github não dará contraste com o fundo */
  --gmail-color: #DB4437;
  --beecrowd-color: #FFCA30;
  --curriculum-color: magenta;
  --certifications-color: teal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
}

#container {
  margin: 0 auto;
  width: 98%;
}

#me {
  border-radius: 50%;
  display: block;
  margin: 7% auto;
  animation: sharpness 2s linear 1;
}

#me:hover {
  border: 5px solid var(--blue);
  cursor: pointer;
  transition: .2s ease-in;
}

#name,
#job-position {
  font-size: 1.5rem;
  text-align: center;
}

#name {
  font-weight: 600;
}

#job-position {
  margin-top: 3%;
}

#social {
  margin: 7% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

#social a {
  border-radius: 10px;
  padding: 5%;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 95%;
}

#social a:focus {
  font-weight: 600;
}

#social a:hover * {
  animation: flip 1.5s linear 1;
}

#social a:first-child {
  border-color: var(--whatsapp-color);
  color: var(--whatsapp-color);
}

#social a:nth-child(2) {
  border-color: var(--linkedin-color);
  color: var(--linkedin-color);
}

#social a:nth-child(3) {
  border-color: var(--github-color);
  color: var(--github-color);
}

#social a:nth-child(4) {
  border-color: var(--gmail-color);
  color: var(--gmail-color);
}

#social a:nth-child(5) {
  border-color: var(--beecrowd-color);
  color: var(--beecrowd-color);
}

#social a:nth-child(6) {
  border-color: var(--curriculum-color);
  color: var(--curriculum-color);
}

#social a:nth-child(7) {
  border-color: var(--certifications-color);
  color: var(--certifications-color);
}

footer {
  font-size: 1.2rem;
  padding: 0 5%;
  text-align: center;
}

.bi-heart-fill {
  color: #DB4437;
  font-size: 1rem;
}

.bi-c-circle {
  font-size: 1rem;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes sharpness {
  0% {
    filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
  }
  25% {
    filter: blur(75px);
    -webkit-backdrop-filter: blur(75px);
  }
  50% {
    filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
  }
  75% {
    filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
  100% {
    filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}